In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../Data/magicbricks.csv')
df.head()

,Bedrooms,Bathrooms,Balcony,Super area,Carpet area,Loading,Plot area,Transaction type,Floor,Car parking,...,PRICE,CONFIGURATION,TOWER & UNIT DETAILS,STATUS,Lifts,Servant Room,Brokerage Response,Store Room,UNIT DETAILS,TOWER
0,NaN,NaN,NaN,NaN,3 See Dimensions,3,1.0,120 sqyrd,115 sqyrd,4%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Free Property Valuation,NaN,3 See Dimensions,2,2,NaN,10%,A.R.S. High Vision Developers Pvt Ltd,Farm Side Apartments,...,"₹ 60.0 Lac - ₹ 80.0 Lac\n₹ 5,000 - ₹ 6,667 per...","2,3 BHK Builder Floors","1 Tower , 20 Units",Ready to Move,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Free Property Valuation,NaN,NaN,2 See Dimensions,2,NaN,800 sqft,700 sqft,12%,...,NaN,NaN,NaN,NaN,New Property\nFree Legal Title Check,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,3 See Dimensions,3,2,1.0,1600 sqft,11%,217 sqyrd,...,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN
4,NaN,Free Property Valuation,NaN,NaN,2 See Dimensions,2,NaN,900 sqft,850 sqft,5%,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 46 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Bedrooms               0 non-null      float64
 1   Bathrooms              14 non-null     object
 2   Balcony                0 non-null      float64
 3   Super area             15 non-null     object
 4   Carpet area            30 non-null     object
 5   Loading                30 non-null     int64
 6   Plot area              11 non-null     float64
 7   Transaction type       30 non-null     object
 8   Floor                  30 non-null     object
 9   Car parking            30 non-null     object
 10  Furnished status       20 non-null     object
 11  Lift                   22 non-null     object
 12  Type of Ownership      30 non-null     object
 13  Facing                 21 non-null     object
 14  Overlooking            9 non-null      object
 15  Price Breakup          30 non-null     object
 16  Unnamed: 16            20 non-null     object
 17  Facilities             30 non-null     object
 18  Address                30 non-null     object
 19  Landmarks              28 non-null     object
 20  Flooring               24 non-null     object
 21  Water Availability     25 non-null     object
 22  Status of Electricity  24 non-null     object
 23  Age of Construction    28 non-null     object
 24  Units Available        13 non-null     object
 25  Furnishing             30 non-null     object
 26  Authority Approval     21 non-null     object
 27  Loan Offered by        14 non-null     object
 28  Balconies              0 non-null      float64
 29  Puja Room              0 non-null      float64
 30  Developer              8 non-null      object
 31  Project                10 non-null     object
 32  Status                 29 non-null     object
 33  RERA ID                2 non-null      object
 34  Study Room             4 non-null      object
 35  Amenities              8 non-null      object
 36  PRICE                  10 non-null     object
 37  CONFIGURATION          8 non-null      object
 38  TOWER & UNIT DETAILS   7 non-null      object
 39  STATUS                 10 non-null     object
 40  Lifts                  3 non-null      object
 41  Servant Room           4 non-null      object
 42  Brokerage Response     9 non-null      object
 43  Store Room             5 non-null      object
 44  UNIT DETAILS           1 non-null      object
 45  TOWER                  1 non-null      object
dtypes: float64(5), int64(1), object(40)
memory usage: 10.9+ KB